*
{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

:root
{
    --mainFont: rgb(84, 130, 173);
    --lightFont: rgb(150, 179, 206);
    --dark: rgba(109, 150, 166, .3)
}

body{
    background-color: black;
}

/* SCROLL BAR _________________________________________________________ */

::-webkit-scrollbar
{
    width: 0;
}

.progressionBar
{
    position: fixed;
    top:0;
    right:0;
    width:5px;
    background-color: var(--mainFont);
    z-index: 99;
}

.scrollPath
{
    position: fixed;
    top:0;
    right:0;
    width:5px;
    height: 100vh;
    background-color: var(--dark);
    z-index: 99;
}

/* END SCROLL BAR _____________________________________________________ */

/* START NAV___________________________________________________________ */

nav
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    transition: .2s;
    animation: showNav 3s;
}

@keyframes showNav
{
    0%{opacity: 0; }
    50%{opacity: 0; top: -20px;}
    100%{opacity: 100%; top: 0;}
}


nav.addBackground
{
    background-color: rgba(0, 0, 0, 0.8);
    transition: .2s;
}

nav .myName
{
    text-transform: uppercase;
    flex-shrink: 0;
    color: var(--mainFont);
    letter-spacing: 2px;
    font-weight: light;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--dark);
}

nav ul
{
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

nav ul li
{
    list-style: none;
    margin: 2px;
    flex-shrink: 0;
}

nav ul li a
{
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
    color: var(--mainFont);
    letter-spacing: 2px;
    border: 1px solid transparent;
    border-radius: 15px;
    text-shadow: 0px 1px 9px black; 
}

nav ul li a:hover
{
    color: var(--lightFont);
    border: 1px solid var(--lightFont);
    border-radius: 5px;
}

.burgerMenu
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 25px;
    right: 25px;
    display: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.burgerMenu:hover
{
    transform: scale(1.1);
}

.burgerBar
{
    position: absolute;
    width: 2rem;
    height: 3px;
    background: var(--mainFont);
    transition: all 0.2s ease-in-out;
}

.burgerBar::after,
.burgerBar::before
{
    content: "";
    position: absolute;
    width: 2rem;
    height: 3px;
    background: var(--mainFont);
    transition: all 0.2s ease-in-out;
}

.burgerBar::after
{
    transform: translateY(-.8rem);
}

.burgerBar::before
{
    transform: translateY(.8rem);
}

/* BURGER ANIMATION */
.burgerMenu.openBurger .burgerBar::after
{   
    transform: scale(.1);
}

.burgerMenu.openBurger .burgerBar::before
{   
    transform: scale(.1);
}

@media (max-width:800px)
{
    ul
    {
        flex-direction: column;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        top: -400px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: rgba(10, 22, 37, .9);
    }

    nav ul li 
    {
        margin-top: 25px;
    }

    nav ul li a
    {
        text-decoration: none;
        padding: 10px 20px;
        font-size: 1.8rem;
    }

    .burgerMenu
    {
        display: flex;
    }
}

@media (max-width: 470px)
{
    nav
    {
        padding: 5px 10px;
    }
}

/* END NAV_______________________________________________________________ */

/* START ALL SECTIONS + SECTION 1________________________________________________________ */

.sec1
{
    width: 100%;
    height: 100vh;
    background-image: url("photos/main-photo.jpg");
    background-size: cover;
    background-position: center bottom;
}

h1 /* H1 sec2,3,4 */
{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--mainFont);
    letter-spacing: 2px;
    font-weight: light;
    font-size: 2rem;
    margin-bottom: 50px;
}

.sec1,.sec2,.sec3,.sec4
{
    background-color: black;
    color: var(--mainFont);
    padding:50px;
}

section p
{
    font-size: 1.2rem;
    max-width: 400px;
}

.hello
{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    animation: hello 2s;
}

@keyframes hello
{
    0%{opacity: 0; transform: scale(1.2);}
    100%{opacity: 100%; transform: scale(1);}
}

.sec1 h1
{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-bottom: 0;
    text-shadow: 0px 1px 9px black;    
}

.sec1 .more
{
    font-size: 1.5rem;
    margin-top: 5px;
    animation: arrow 2s infinite;
    cursor: pointer;
}

.sec1 .more a
{
    text-decoration: none;
    color: var(--mainFont);
    animation: arrow 2s infinite;
}

@keyframes arrow
{
    0%{transform: translateY(0);}
    50%{transform: translateY(15px); 
        color: white;}
    100%{transform: translateY(0);}
}

@media (max-width: 470px)
{
    .sec1 h1
    {
        font-size:1.2rem;
        letter-spacing: 10px;
    }
}


/* END ALL SECTIONS________________________________________________________ */

/* START SECTION 2________________________________________________________ */

.sec2
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sec2 img
{
    width: 400px;
    height: auto;
    border-radius: 20px;
    float: right;
    z-index: 10;
    margin-top: 10px;
}

.sec2 p
{
    font-size: 1.5rem;
    letter-spacing: 1px;
}

@media (max-width: 990px)
{
    .sec2 img {width: 250px;}
}

@media (max-width: 700px)
{
    .sec2
    {
        flex-direction: column;
        align-items: center;
    }
}
/* END SECTION 2________________________________________________________ */

/* START SECTION 3________________________________________________________ */

.sec3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--dark)
}

.sec3 .skillBox
{
    text-align: center;
    padding: 20px 50px;
    text-transform: uppercase;
}

.sec3 .skillBox p 
{
    letter-spacing: 2px;
    padding-top: 10px;
}

.sec3 .skillBox img
{
    height: 100px;
    width: auto;
}

@media (max-width: 500px)
{
    .sec3
    {
        padding: 50px 10px;
    }
    .sec3 .skillBox
    {
        padding: 10px 20px;
    }

    .sec3 .skillBox img
    {
        height: 70px;
        width: auto;
    }
}

/* END SECTION 3________________________________________________________ */

/* START SECTION 4________________________________________________________ */

.sec4
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactDiv
{
    width: 90%;
    max-width: 400px;
    background-color: var(--dark);
    padding: 20px;
    border-radius: 5px;
}

.formGroup
{
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.formGroup input,
.formGroup textarea
{
    width: 100%;
    background-color: var(--lightFont);
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid var(--dark);
}

.formGroup.error input
{
    border: 1px solid rgb(217, 83, 79);
    background-color: rgba(217, 83, 79, 0.2);
    color: white;
}

.formGroup.success input
{
    border: 1px solid rgb(92, 184, 92);
    background-color: rgba(92, 184, 92, .2);
    color: white;
}

.formGroup.error textarea
{
    border: 1px solid rgb(217, 83, 79);
    background-color: rgba(217, 83, 79, 0.2);
    color: white;
}

.formGroup.success textarea
{
    border: 1px solid rgb(92, 184, 92);
    background-color: rgba(92, 184, 92, .2);
    color: white;
}

.formGroup small
{
    visibility: hidden;
}

.formGroup.error small
{
    visibility: visible;
    color: rgb(217, 83, 79);
    font-size: 0.8rem;
}

textarea
{
    resize: vertical;
}

button[type="submit"]
{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark);
    margin-top: 5px;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--mainFont);
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button[type="submit"].submited 
{
    border: 1px solid rgb(92, 184, 92);
    background-color: rgba(92, 184, 92, .2);
    color: white;
    cursor: default;
}

button[type="submit"].submited:hover
{
    background-color: rgba(92, 184, 92, .2);
}

button[type="submit"]:hover
{
    background-color: var(--dark);
}

button[type="submit"]:focus
{
    outline: none;
}

.formInfo
{
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin: 15px;
}

/* END SECTION 4________________________________________________________ */


/* FOOTER START________________________________________________________ */

.footerInfo
{
    width: 100%;
    height: 80px;
    background-color: var(--dark);
    color: var(--mainFont);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    line-height: 80px;
}

.footerInfo h3
{
    display: inline;
    margin: 0 20px 0 50px;
    transition: .2s;
}

.footerInfo img
{
    width: 2rem;
    height: auto;
    vertical-align: middle;
    margin-right: 20px;
}

.footerIcon
{
    transition: all .2s ease-in-out;
    border-radius: px;
    overflow: hidden;
    
}

.footerIcon:hover
{
    transform: scale(1.2);
}

@media (max-width: 470px)
{
    .footerInfo h3
    {
        margin: 0 5px 0 10px;
    }
    
    .footerInfo img
    {
        margin-right: 5px;
    }
}

/* FOOTER END */